@import '/src/styles/base/variables';
.transactions {
  display: grid;
  gap: 1.5rem;
  padding: 1rem 0;

  list-style: none;
}

.noTransactions {
  display: grid;
  place-content: center;
  font-size: 2rem;
  color: $light-gray-color;
}

.title {
  display: flex;
  align-items: center;
  font-size: 1.8rem;
  color: $light-gray-color;
}
