@import '/src/styles/base/variables';
.input {
  border-radius: 10px;
  box-shadow: 0 0 0.5rem 2rem rgba(0, 0, 0, 0.01);
  border: 0;
  font-size: 1.6rem;
  padding: 1rem 1.6rem;
  outline: none;
  font-family: inherit;
  border: 1px solid lighten($light-gray-color, 20%);
  transition: border-color 200ms linear;
  &:focus {
    border: 1px solid $light-gray-color;
  }
}
