@import '../base/variables';

.centered {
  display: grid;
  height: 100%;
  grid-template-rows: min-content 1fr;
}
.options {
  display: grid;
  place-self: center;
  padding: 1rem;
  border-radius: 10px;
  gap: 2rem;
}
.label {
  font-size: 2rem;
  font-weight: 600;
  color: $light-gray-color;
}
.button {
  gap: 10px;
}
