// colors
$white-color: #fafafa;
$black-color: #171717;
$light-gray-color: #a7a8ad;
$background-color: #eaeaea;
$red-color: #e7ad9d;
$dark-red-color: #d7765b;
$green-color: #84ebbe;
$dark-green-color: #2cdd90;
